main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    color: azure;
    border: solid 1px #ffffff;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"], form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

form input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #086504;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #034402;
}
