.formular{
    display:flex;
    justify-content: center;
    align-items:center;
    max-width: 100%;
    min-height: 100vh;
    text-align: center;
    margin-top: 25px;
 }
 
 input[type="text"],input[type="email"] {
     width: 65%; 
     padding: 10px;
     margin: 20px; 
     border: 2px solid black;
     border-radius: 25px; 
 }
 
 textarea{
     width: 65%; 
     padding: 10px;
     height: 200px;
     margin: 20px; 
     border: 2px solid black;
     border-radius: 25px; 
     resize: none;
 }
 
 input[type="checkbox"]{
     position: relative ;
     top: 1%;
     margin: 20px;
     width: 25px; 
     height: 25px;
 }
 
 label{
     font-size: 25px;
     font-weight: bold;
     color: aliceblue;
     font-family: cursive;
 }
 
 input[type="submit"]{
     margin-top: 30px;
     border-radius: 25px;
     width: 150px;
     height: 50px;
     cursor: pointer;
     font-size: 15px;
     font-weight: bold;
 }
 
 input[type="submit"]:hover{
     color: white;
     background-color: black;
 }
body{
    background-image: linear-gradient(to right, #007fe0, #008ce4, #1799e7, #31a6ea, #48b2eb, #48b1ea, #48b0e8, #48afe7, #31a2e3, #1a94df, #0286da, #0077d3);
    border-top: 2px solid black;
}